* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 5px;
    color: #005677;
    height: 30px;
}

.image {
    background-color: #E5E5E5;
    margin: 0 auto;
    text-align: center;
}

.image img {
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100px;
    height: 147px;
}

.tittle-content {
    background-color: #C4C4C4;
    height: 60px;
    text-align: center;
    padding-top: 13px;
}

.content-information {
    /* background-color: brown; */
    /* height: 30px; */
    margin: 0 auto;
    margin-top: 117px;
    margin-bottom: 133px;
    width: 80%;
}

.data h2 {
    background-color: #C4C4C4;
    color:  #005677;
    font-size: 20px;
    letter-spacing: 3px;
    height: 30px;
    padding: 6px 9px;
    padding-bottom: 7px;

}

.data-list {
    margin-top: 18px;
    margin-bottom: 30px;
    padding-left: 45px;
    font-size: 15px;

}


.data-list li {
    /* font-size: 15px; */
    margin-bottom: 10px;
    font-weight: 400;
}

.data-list span {
    font-style: italic;
    font-weight: bold;
}

.data-list dt span{
    font-style: normal;
}

.data-list dd {
    padding-left: 80px;
    margin-bottom: 10px;
}

.site-footer {
    background-color: #005677;
    color: #FFFFFF;
    text-align: center;
}

.footer-content {
    height: 37px;
}

.site-footer p {
    display: inline-block;
    margin-top: 11px;
    margin-bottom: 9px;
}

.site-footer img {
    display: inline-block;
    padding-top: 9px;
    /* margin-right: 26px; */
    margin-left: 26px;
    /* padding-bottom: 8px; */
    
}
