* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: gray; */
}

h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 5px;
}

.image {
    background-color: #E5E5E5;
    margin: 0 auto;
    text-align: center;
}

.image img {
    margin: 0 auto;
    width: 100px;
    height: 147px;
}

.tittle-content {
    background-color: #C4C4C4;
    padding: 15px;
    text-align: center
}

.content-information {
    background-color: brown;
    /* height: 30px; */
    margin: 0 auto;
    margin-top: 117px;
    margin-bottom: 150px;
    width: 80%;
}